/*********/
/* FONTS */
/*********/
/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCL6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4ED0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v15/RFda8w1V0eDZheqfcyQ4EOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* get rid of the new-lines after lists */
ol + br, ul + br { display: none }

/* get rid of the Parameters table after functor description */
.info.module.top + table { display: none }

ul { list-style: none }

ul li { text-indent: -.9em }

ul li::before {
    content: "\2022";
    padding-right: .5em
}
/*********/
/* LINKS */
/*********/
a {
    color: #416DFF;
    text-decoration: none
}

a:hover { font-weight: bold }

h1 a:hover { text-decoration: underline }

*:target { background-color: gold }

/********/
/* BODY */
/********/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: black;
    text-align: left;
    padding: 1em 0;
    margin: auto;
    max-width: 50em
}

/* CSS footer */
body::after {
    content: "\a9\a0L\e9lio Brun 2017 - made with ocamldoc";
    font-size: smaller;
    color: #899596;
    margin-top: 10em;
    display: block;
    text-align: center
}

hr {
    height: 1px;
    background-color: #818181;
    border-width: 0;
}

/**********/
/* TITLES */
/**********/
h1, h2, h3, h4, h5, h6, h7, h8, h9 {
    font-family: 'Merriweather', serif;
    color: #313131
}

h1 { text-align: center }

h2, h3, h4, h5, h6, h7, h8, h9 {
    border-top: 2px solid #919191;
    border-bottom: 2px solid #919191;
    background-color: #F3F3F3;
    margin: .5em 0;
    padding: .2em .5em;
}

/********/
/* CODE */
/********/
.keyword {
    font-weight: bold;
    color: #880000
}

.keywordsign { color: #C04600 }

.comment { color: seagreen }

.constructor { color: midnightblue }

.type, .type a { color: teal }

.type a, a .code { font-style: italic }

.string { color: maroon }

.warning {
    color: red;
    font-weight: bold
}

.info { margin: 0 3em }

.param_info { margin: 4px 3em 0 }

.code { color: #465F91 }

.typetable { border-style: hidden }

/* indent constructors */
.typetable > tbody > tr > td  > code  > .keyword:first-child::before {
    content: "\a0\a0"
}

.paramstable {
    border-style: hidden;
    padding: 5pt 5pt
}

tr { background-color: white }

td.typefieldcomment {
    background-color: white;
    font-size: smaller;
    visibility: hidden
}

td.typefieldcomment .info {
    visibility: visible;
    color: dimgrey
}

div.sig_block { margin-left: 2em }

pre {
    margin-bottom: 4px;
    font-family: 'Inconsolata', monospace;
}

pre.verbatim, pre.codepre { }

/*********/
/* INDEX */
/*********/
.indextable {
    border: 1px #ddd solid;
    border-collapse: collapse;
    margin: auto
}

.indextable td, .indextable th {
    min-width: 8em;
    padding: 0 .5em;
    margin: 0
}

.indextable .info {
    margin: 0;
    padding: 0 .2em
}

.indextable .module { padding: 0 }

.indextable .module a {
    color: #4E6272;
    background-color: #dfdfdf;
    display: block;
    padding: 0 .2em;
    width: 100%
}

.indextable .module a:hover { background-color: transparent }

.deprecated {
    color: #888;
    font-style: italic
}

.indexlist {
    padding: 0;
    margin: 3em 0;
    text-align: justify
}

.indexlist::after {
    content: "";
    width: 100%;
    display: inline-block
}

.indexlist li {
    text-indent: 0;
    display: inline-block;
    list-style-type: none ;
    margin: auto;
    padding: 0;
}

/* get rid of the bullet */
.indexlist li::before {
    content: "";
    padding: 0
}

/**********/
/* NAVBAR */
/**********/
.navbar { text-align: center }

.navbar a:last-child { float: right }

.navbar a:first-child { float: left }

.navbar a:only-child { float: none }

.navbar a {
    display: inline-block;
    visibility: hidden
}

.navbar .pre::before {
    content: "\2190\a0" attr(title);
    visibility: visible
}

.navbar .up::before {
    content: attr(title) "\a0\2934";
    visibility: visible
}

.navbar .post::after {
    content: attr(title) "\a0\2192";
    visibility: visible
}
